<div class="bottom">
  <div class="other">
    <div class="meta">
      <% if( page.categories && page.categories.length > 0 ) {%>
      <i class="iconfont icon-category"></i>
      <%-  list_categories( page.categories ,{
            show_count:false,
            style:'none',
            separator:" "    
          }) %>

      <% }%>

      <% if( page.tags &&  page.tags.length > 0 ) {%>
      <i class="iconfont icon-tag"></i>
      <%- list_tags( page.tags ,{
            show_count:false,
            style:'none',
            separator:" "      
            }) %>
      <% }%>
    </div>

    <div class="operate">
      <% if(theme.mob_share){%>
      <span class="text">Share</span>
      <%- partial('_partial/_post/mob_share') %>
      <% } %>
    </div>
  </div>


  <% if (page.prev || page.next){ %>
  <nav class="nav">
    <div class="link">
      <% if (page.next){ %>
      <a href="<%- url_for(page.next.path) %>" class="link-wrap">
        <strong class="caption"><%= __('Post.Prev') %></strong>
        <% var title = truncate(page.next.title, {length:60}) %>
        <span class="title">
          <%= title ||  __('Untitled') %>
        </span>
      </a>
      <% } %>
    </div>
    <div class="link">
      <% if (page.prev){ %>
      <a href="<%- url_for(post.prev.path) %>" class="link-wrap">
        <strong class="caption"><%= __('Post.Next') %></strong>
        <% var title = truncate(page.prev.title , {length:60}) %>
        <span class="title">
          <%= title ||  __('Untitled') %>
        </span>
      </a>
      <% } %>
    </div>
  </nav>
  <% } %>
</div>