<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>  
  <body>   
    
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>   

      <div class="container">       
          
          <% if (is_post() || is_home()) { %>
            <div class="container-inner">  
          <% } else{ %>
            <div class="container-inner slideDownMin">
          <% }%>

          <%-body%>
          </div> 
      </div>            
    
        <i id="toTop" class="iconfont icon-backtotop"></i>

  
    <%- partial('_partial/search') %>
    <%- partial('_partial/slide-menu') %>        
    <%- partial('_partial/after-footer') %>     
    <%- partial('_partial/footer') %>   

    <%- js('nayo.bundle')%>           
  </body>        
</html>