<section>

  <% var name =  __('Page.Tags') %>
  <%- partial('_partial/page-name',{icon:'icon-page-tags',name: name }) %>

  <% if( is_tag()){ %>

        <div class="items">
            <% page.posts.each(function (post) { %>     

                <%- partial('_partial/item',{post: post}) %>       

            <% })%>
        </div>


    <%} else {%>    
    

        <ul class="tag">
        <% site.tags.sort('date',-1).each( function (tag){%>
            <li class="tag-item">
                <a class="tag-wrap slideDownMin" href="<%- url_for(tag.path) %>">    
                    <span class="iconfont icon-tag-inner"></span>           
                    <span class="tag-name"> <%- tag.name %> </span>
                    <span class="tag-count"><%- tag.length %></span>  
                </a>
            </li>
        <% })%>

        </ul>

    <%}%>
</section>