<header class="header">
	
  <nav class="header-inner">        

    <span class="iconfont icon-menu mobile-toggle"></span>   	

    <div class="header-logo">
      <a href="/">
        <img class="header-logo-img" src="<%- url_for(theme.profile.logo) %>"/>
      </a>
    </div>

    <div class="header-menu">          
        <% for (var i in theme.menu){ %>      
          <% if ( i  == 'search' ){%>
              <a class="header-menu-link"  id="header-menu-search">
                <i class="iconfont icon-<%-i %>" />  
              </a>
          <% } else {%>
            <a 
            class="header-menu-link" 
            id="header-menu-<%-i%>" 
            href="<%- url_for(theme.menu[i]) %>">
              <i class="iconfont icon-<%-i %>" />  
            </a>     
          <% } %>
        <% } %>          
    </div>  
    
  </nav>
</header>

