
<% if (page.total > 1){ %> 
   <nav class="paginator">
    <% if (page.prev) { %>
        <a class="prev" href="<%- url_for(page.prev_link) %>"> 
            <i class="iconfont icon-left"></i>
            <%= __('Paginator.Prev') %>
        </a>
    <% } %>

   <span class="page-number"> Page <strong><%= page.current %></strong>, Total <strong><%=__('Archive.count',site.posts.length)%></strong> . </span>

    <% if (page.next) { %>
        <a class="next" href="<%- url_for(page.next_link) %>"> 
            <%= __('Paginator.Next') %>
            <i class="iconfont icon-right"></i>
        </a>
    <% } %>
  </nav> 
<% } %>